Repository rust-lang/libc, pull requests merged in 2024-12, with the labels that each got.

#4171 [solaris/illumos] add SIGRTMIN and SIGRTMAX
  libc-test/build.rs
  libc-test/semver/solarish.txt
  libc-test/test/sigrt.rs
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated

#4173 Adding MAP_DROPPABLE for Linux (6.11)
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4177 Allow the `unpredictable_function_pointer_comparisons` where needed
  src/fuchsia/mod.rs
  src/unix/bsd/freebsdlike/freebsd/x86_64/mod.rs
Labels: S-waiting-on-review, O-unix, O-x86, stable-nominated

#4174 Feat(Linux): Add new process flags
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4176 fix: make Debug impl for unions opaque
  src/macros.rs
  src/unix/aix/mod.rs
  src/unix/aix/powerpc64.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/freebsdlike/freebsd/x86_64/mod.rs
  src/unix/bsd/netbsdlike/netbsd/aarch64.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/netbsd/riscv64.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/haiku/native.rs
  src/unix/linux_like/android/b32/arm.rs
  src/unix/linux_like/android/b32/x86/mod.rs
  src/unix/linux_like/android/b64/x86_64/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/gnu/b32/riscv32/mod.rs
  src/unix/linux_like/linux/gnu/b64/riscv64/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b64/riscv64/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/nto/x86_64.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/solaris.rs
  src/unix/solarish/x86_64.rs
  src/vxworks/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-macos, O-arm, O-musl, O-android, O-solarish, O-riscv, O-linux-like, O-gnu, O-x86, stable-nominated

#4179 ci: Use workflow commands to group output by target
  ci/verify-build.sh
Labels: S-waiting-on-review, stable-nominated

#4178 ci: Add caching
  .github/workflows/ci.yaml
Labels: A-CI, S-waiting-on-review, O-unix, O-x86

#4184 Remove FreeBSD's CAP_UNUSED* and CAP_ALL* constants
  libc-test/semver/freebsd.txt
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-unix

#4185 Lift IFA_ -constants from linux/gnu to linux
  libc-test/semver/linux-gnu.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-gnu, stable-nominated

#4180 ci: Upload artifacts created by libc-test
  .github/workflows/ci.yaml
  ci/create-artifacts.py
Labels: A-CI, S-waiting-on-review, stable-nominated

#4186 Add POSIX memccpy and mempcpy GNU extension.
  libc-test/semver/linux-gnu.txt
  libc-test/semver/unix.txt
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-gnu, stable-nominated

#4187 [0.2] Backports
  .github/workflows/ci.yaml
  ci/verify-build.sh
  libc-test/build.rs
  libc-test/semver/linux-gnu.txt
  libc-test/semver/linux.txt
  libc-test/semver/solarish.txt
  libc-test/semver/unix.txt
  libc-test/test/sigrt.rs
  src/fuchsia/mod.rs
  src/macros.rs
  src/unix/aix/mod.rs
  src/unix/aix/powerpc64.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/freebsdlike/freebsd/x86_64/mod.rs
  src/unix/bsd/netbsdlike/netbsd/aarch64.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/netbsd/riscv64.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/haiku/native.rs
  src/unix/linux_like/android/b32/arm.rs
  src/unix/linux_like/android/b32/x86/mod.rs
  src/unix/linux_like/android/b64/x86_64/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/gnu/b32/riscv32/mod.rs
  src/unix/linux_like/linux/gnu/b64/riscv64/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b64/riscv64/mod.rs
  src/unix/mod.rs
  src/unix/nto/x86_64.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/solaris.rs
  src/unix/solarish/x86_64.rs
  src/vxworks/mod.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-macos, O-arm, O-musl, O-android, O-solarish, O-riscv, O-gnu, O-x86

#4191 triagebot: Remove JohnTitor from the review rotation
  triagebot.toml
Labels: S-waiting-on-review, stable-nominated

#4194 Add sockaddr_vm definition for Fuchsia
  libc-test/semver/fuchsia.txt
  src/fuchsia/mod.rs
Labels: S-waiting-on-review, stable-nominated

#4193 freebsd add more socket TCP stack constants.
  libc-test/semver/freebsd.txt
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4195 Update ESP-IDF `c_char` type
  src/unix/newlib/espidf/mod.rs
Labels: S-waiting-on-review, O-unix, O-newlib, stable-nominated

#4200 Do not re-export c_void in target-specific code
  src/teeos/mod.rs
  src/trusty.rs
Labels: S-waiting-on-review

#4199 Fix c_char on various targets
  src/solid/aarch64.rs
  src/solid/arm.rs
  src/unix/linux_like/android/b64/riscv64/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/newlib/vita/mod.rs
  src/unix/nuttx/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
  src/vxworks/riscv32.rs
  src/vxworks/riscv64.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-arm, O-android, O-solarish, O-redox, O-riscv, O-newlib, O-x86, stable-nominated

#4205 Replace arch-conditional c_char with a reexport
  ci/style.rs
  src/hermit.rs
  src/trusty.rs
  src/unix/nuttx/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
Labels: O-unix, O-solarish, O-redox, stable-nominated

#4206 [0.2] Backports
  ci/style.rs
  libc-test/build.rs
  libc-test/semver/freebsd.txt
  libc-test/semver/fuchsia.txt
  src/fuchsia/mod.rs
  src/hermit.rs
  src/lib.rs
  src/solid/aarch64.rs
  src/solid/arm.rs
  src/teeos/mod.rs
  src/trusty.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/linux_like/android/b64/riscv64/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/newlib/espidf/mod.rs
  src/unix/newlib/vita/mod.rs
  src/unix/nuttx/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
  src/vxworks/riscv32.rs
  src/vxworks/riscv64.rs
  triagebot.toml
Labels: S-waiting-on-review, O-linux, O-unix, O-arm, O-android, O-solarish, O-redox, O-riscv, O-newlib, O-x86

#4210 Skip `c_char_def` on OpenBSD
  libc-test/build.rs
Labels: S-waiting-on-review, stable-nominated

#4211 [0.2] Skip `c_char_def` on OpenBSD
  libc-test/build.rs
Labels: S-waiting-on-review

#4217 Allow `unpredictable_function_pointer_comparisons` in another place
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
Labels: S-waiting-on-review, O-unix, O-dragonfly, stable-nominated

#4222 Fixes for NuttX target
  src/unix/nuttx/mod.rs
Labels: S-waiting-on-review, O-unix

#4223 Add new CANFD_FDF flag for the 'flags' field of 'canfd_frame'.
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated
