Repository rust-lang/libc, pull requests merged in 2025-06, with the labels that each got.

#4434 Add constants from linux/cn_proc.h and linux/connector.h
  ci/style.sh
  libc-test/build.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4433 Gnu time bits 64
  .github/workflows/ci.yaml
  build.rs
  ci/run-docker.sh
  ci/verify-build.sh
  libc-test/build.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-mips, O-sparc, O-linux-like, O-gnu, O-x86, stable-nominated

#4461 openbsd: ignore some constants in CI (removed in upcoming OpenBSD 7.8)
  libc-test/build.rs
Labels: S-waiting-on-review, stable-nominated

#4453 Add strftime* for illumos.
  libc-test/semver/solarish.txt
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-windows, O-unix, O-solarish, O-illumos

#4470 ci: Disable the i686 Android job
  .github/workflows/ci.yaml
Labels: A-CI, O-android, stable-nominated

#4473 Update lints
  src/lib.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/musl/b64/loongarch64/mod.rs
  src/unix/linux_like/linux/uclibc/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/compat.rs
Labels: O-linux, O-unix, O-musl, O-mips, O-solarish, O-redox, stable-nominated

#4481 chore: release libc v0.2.173
  CHANGELOG.md
  Cargo.toml
Labels: S-waiting-on-review

#4490 openbsd: Fix some clippy warnings to use `pointer::cast`.
  src/unix/bsd/netbsdlike/openbsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4487 make pidfd_info fields pub
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4492 Remove unessecary semicolons from definitions of `CMSG_NXTHDR`.
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/haiku/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated

#4483 fix: use nlink_t type for st_nlink in struct stat definition for NuttX
  src/unix/nuttx/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4499 [0.2] Backports
  src/fuchsia/mod.rs
  src/psp.rs
  src/unix/bsd/apple/b64/x86_64/mod.rs
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/cygwin/mod.rs
  src/unix/haiku/mod.rs
  src/unix/haiku/native.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/b32/mod.rs
  src/unix/linux_like/android/b64/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/csky/mod.rs
  src/unix/linux_like/linux/gnu/b32/m68k/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/riscv32/mod.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/aarch64/mod.rs
  src/unix/linux_like/linux/gnu/b64/loongarch64/mod.rs
  src/unix/linux_like/linux/gnu/b64/mips64/mod.rs
  src/unix/linux_like/linux/gnu/b64/powerpc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/riscv64/mod.rs
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/gnu/b64/sparc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/nto/mod.rs
  src/unix/nto/neutrino.rs
  src/unix/nuttx/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-macos, O-arm, O-musl, O-android, O-mips, O-sparc, O-dragonfly, O-solarish, O-redox, O-riscv, O-gnu, O-x86

#4498 Hurd clippy fixes
  src/unix/hurd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4500 chore: release libc 0.2.174
  CHANGELOG.md
  Cargo.toml
Labels: S-waiting-on-review

#4482 FreeBSD: Support kernel-offloaded TLS TCP
  libc-test/build.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4506 ci: Run `cargo-semver-checks`
  .github/workflows/ci.yaml
  ci/verify-build.sh
  ctest/src/lib.rs
Labels: A-CI, S-waiting-on-review, ctest

#4507 Use unique errno values for AIX
  libc-test/build.rs
  libc-test/semver/aix.txt
  src/unix/aix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated
