Repository rust-lang/libc, pull requests merged in 2025-05, with the labels that each got.

#4438 musl: fix test build with musl 1.2.0+
  libc-test/build.rs
Labels: S-waiting-on-review, stable-nominated

#4441 redox: make CMSG_ALIGN, CMSG_LEN, and CMSG_SPACE const functions
  src/unix/redox/mod.rs
Labels: S-waiting-on-review, O-unix, O-redox, stable-nominated

#4440 redox: define SCM_RIGHTS
  libc-test/semver/redox.txt
  src/unix/redox/mod.rs
Labels: S-waiting-on-review, O-unix, O-redox, stable-nominated

#4400 Add constants for Memory-Deny-Write-Execute prctls
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4436 Add constants and types for nsfs ioctls
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4448 musl: loongarch64: Define MADV_SOFT_OFFLINE constant
  libc-test/semver/linux-gnu-loongarch64.txt
  libc-test/semver/linux-loongarch64.txt
  src/unix/linux_like/linux/musl/b64/loongarch64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4447 Add MADV_SOFT_OFFLINE definition for RISC-V musl targets
  libc-test/semver/linux-riscv64gc.txt
  src/unix/linux_like/linux/musl/b32/riscv32/mod.rs
  src/unix/linux_like/linux/musl/b64/riscv64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-riscv, stable-nominated

#4443 Start update to musl v1.2.3
  .github/workflows/ci.yaml
  build.rs
  ci/install-musl.sh
  libc-test/build.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/musl/b32/arm/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/linux_like/linux/musl/b32/mips/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/aarch64/mod.rs
  src/unix/linux_like/linux/musl/b64/mips64.rs
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
  src/unix/linux_like/linux/musl/b64/riscv64/mod.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
  src/unix/linux_like/linux/musl/b64/wasm32/mod.rs
  src/unix/linux_like/linux/musl/b64/x86_64/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-mips, O-riscv, O-x86, stable-nominated

#4444 triagebot: Set `issue-links.check-commits = false`
  triagebot.toml
Labels: S-waiting-on-review, stable-nominated

#4430 ctest: Revise generate function to return Result
  ctest-test/Cargo.toml
  ctest-test/tests/all.rs
  ctest/Cargo.toml
  ctest/src/lib.rs
Labels: S-waiting-on-review, stable-unneeded, ctest

#4452 linux: add new flags for pwritev2/preadv2
  libc-test/build.rs
  libc-test/semver/linux-gnu.txt
  libc-test/semver/linux-musl.txt
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-gnu, stable-nominated

#4451 adding SO_SPLICE socket option support for freebsd >= 14.2
  libc-test/build.rs
  libc-test/semver/freebsd.txt
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-windows, O-unix, stable-nominated

#4454 Ensure `cargo fmt` is run on all files
  build.rs
  ci/style.sh
  ctest-test/tests/all.rs
  ctest/src/lib.rs
  src/windows/mod.rs
Labels: S-waiting-on-review, O-windows, stable-nominated, ctest

#4450 Enable libc-test and fix definitions/declarations for AIX
  libc-test/build.rs
  libc-test/semver/aix.txt
  libc-test/test/cmsg.rs
  libc-test/test/makedev.rs
  src/unix/aix/mod.rs
  src/unix/aix/powerpc64.rs
  src/unix/mod.rs
Labels: S-waiting-on-review, O-unix

#4418 Cleanup IOCTL definitions in linux_like tree
  libc-test/build.rs
  libc-test/semver/android.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/arch/sparc/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, O-mips, O-sparc, O-linux-like, O-gnu, stable-nominated

#4462 Fixes Solaris CI after solaris-vm was update to Solaris 11.4.81 CBE.
  .github/workflows/ci.yaml
  src/unix/solarish/x86_64.rs
Labels: A-CI, O-unix, O-solarish, O-x86, stable-nominated

#4464 Add arc4random and arc4random_buf to NuttX
  src/unix/nuttx/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4465 [0.2] Backports
  .github/workflows/ci.yaml
  Cargo.toml
  build.rs
  libc-test/Cargo.toml
  libc-test/build.rs
  libc-test/semver/linux-musl.txt
  libc-test/semver/linux.txt
  libc-test/semver/redox.txt
  libc-test/semver/windows.txt
  src/fuchsia/mod.rs
  src/macros.rs
  src/unix/aix/mod.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/mod.rs
  src/unix/bsd/netbsdlike/mod.rs
  src/unix/haiku/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b64/loongarch64/mod.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  src/unix/newlib/mod.rs
  src/unix/nto/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/x86_64.rs
  src/vxworks/mod.rs
  src/wasi/mod.rs
  src/windows/mod.rs
  triagebot.toml
Labels: A-CI, S-waiting-on-review, O-windows, O-linux, O-unix, O-macos, O-arm, O-musl, O-android, O-mips, O-solarish, O-redox, O-linux-like, O-wasi, O-newlib, O-gnu, O-x86
