Repository rust-lang/libc, pull requests merged in 2025-04, with the labels that each got.

#4334 Fix typo in waitpid parameter name
  src/vxworks/mod.rs
Labels: S-waiting-on-review, stable-nominated

#4350 Cygwin: add new socket options
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4353 Add more signal constants for NuttX
  src/unix/nuttx/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4352 Add missing signal related defines and fix dirent struct for VxWorks
  src/vxworks/mod.rs
Labels: S-waiting-on-review, stable-nominated

#4349 linux: add missing pthread_attr_setstack
  libc-test/semver/linux.txt
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-unix, O-linux-like, stable-nominated

#4357 Fix test on cygwin
  libc-test/build.rs
  libc-test/semver/cygwin.txt
  libc-test/test/makedev.rs
  src/unix/cygwin/mod.rs
  src/unix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4333 Add timerfd APIs for illumos and NetBSD.
  libc-test/semver/illumos.txt
  libc-test/semver/netbsd.txt
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/solarish/illumos.rs
Labels: S-waiting-on-author, O-unix, O-solarish, O-illumos, stable-nominated

#4329 solarish: Restrict openpty and forkpty polyfills to illumos, replace Solaris implementation with FFI
  src/unix/solarish/compat.rs
  src/unix/solarish/solaris.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated

#4296 linux: add missing tls bindings
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4326 linux: add missing INPUT_PROP_XXX flags from input-event-codes.h
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4356 adding further BPF program flags for Linux.
  libc-test/semver/linux-aarch64.txt
  libc-test/semver/linux-loongarch64.txt
  libc-test/semver/linux-x86_64.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4361 Merge the `ctest2` repository into `libc`
  ci/style.sh
  ctest/.github/workflows/linux.yml
  ctest/.github/workflows/macos.yml
  ctest/.github/workflows/windows.yml
  ctest/.gitignore
  ctest/CHANGELOG.md
  ctest/Cargo.toml
  ctest/LICENSE-APACHE
  ctest/LICENSE-MIT
  ctest/README.md
  ctest/ci/docker/x86_64-unknown-linux-gnu/Dockerfile
  ctest/ci/install-rust.sh
  ctest/ci/run-docker.sh
  ctest/ci/run.sh
  ctest/renovate.json
  ctest/src/lib.rs
  ctest/testcrate/Cargo.toml
  ctest/testcrate/build.rs
  ctest/testcrate/src/bin/t1.rs
  ctest/testcrate/src/bin/t1_cxx.rs
  ctest/testcrate/src/bin/t2.rs
  ctest/testcrate/src/bin/t2_cxx.rs
  ctest/testcrate/src/lib.rs
  ctest/testcrate/src/t1.c
  ctest/testcrate/src/t1.cpp
  ctest/testcrate/src/t1.h
  ctest/testcrate/src/t1.rs
  ctest/testcrate/src/t2.c
  ctest/testcrate/src/t2.cpp
  ctest/testcrate/src/t2.h
  ctest/testcrate/src/t2.rs
  ctest/testcrate/tests/all.rs
Labels: S-waiting-on-review, stable-unneeded

#4363 Always deny warnings in CI
  .github/workflows/ci.yaml
  libc-test/Cargo.toml
  libc-test/test/makedev.rs
Labels: A-CI, S-waiting-on-review, stable-nominated

#4364 Replace references to ctest2 with ctest
  ctest-test/Cargo.toml
  ctest-test/build.rs
  ctest-test/src/bin/t1.rs
  ctest-test/src/bin/t1_cxx.rs
  ctest-test/src/bin/t2.rs
  ctest-test/src/bin/t2_cxx.rs
  ctest-test/src/lib.rs
  ctest-test/src/t1.c
  ctest-test/src/t1.cpp
  ctest-test/src/t1.h
  ctest-test/src/t1.rs
  ctest-test/src/t2.c
  ctest-test/src/t2.cpp
  ctest-test/src/t2.h
  ctest-test/src/t2.rs
  ctest-test/tests/all.rs
  ctest/Cargo.toml
  ctest/README.md
  ctest/ci/run-docker.sh
  ctest/ci/run.sh
  ctest/src/lib.rs
  libc-test/build.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-unneeded

#4366 Add cygwin support for ctest
  ctest/src/lib.rs
Labels: S-waiting-on-review

#4368 Make triagebot aware of labels related to `ctest`
  triagebot.toml
Labels: S-waiting-on-review

#4362 Add `ctest` to the root workspace and enable CI
  .github/workflows/ci.yaml
  Cargo.toml
  ci/docker/x86_64-unknown-linux-gnu/Dockerfile
  ci/run.sh
  ctest-test/Cargo.toml
  ctest-test/build.rs
  ctest-test/src/bin/t1.rs
  ctest-test/src/bin/t1_cxx.rs
  ctest-test/src/bin/t2.rs
  ctest-test/src/bin/t2_cxx.rs
  ctest-test/src/t1.c
  ctest-test/src/t1.h
  ctest-test/src/t1.rs
  ctest-test/tests/all.rs
  ctest/.github/workflows/linux.yml
  ctest/.github/workflows/macos.yml
  ctest/.github/workflows/windows.yml
  ctest/.gitignore
  ctest/ci/docker/x86_64-unknown-linux-gnu/Dockerfile
  ctest/ci/install-rust.sh
  ctest/ci/run-docker.sh
  ctest/ci/run.sh
  libc-test/Cargo.toml
  libc-test/build.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, stable-unneeded, ctest

#4371 Increase the recursion limit to fix docs.rs `ctest`
  .github/workflows/ci.yaml
  ctest/src/lib.rs
Labels: A-CI, S-waiting-on-review, ctest

#4372 Clean up some `ctest` internals
  ctest/Cargo.toml
  ctest/src/lib.rs
  ctest/src/template.rs
Labels: S-waiting-on-review, ctest

#4373 Fix release-plz on the main branch
  .github/workflows/release.yaml
  Cargo.toml
Labels: A-CI, S-waiting-on-review, stable-unneeded

#4374 Add links to common header sources in the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: A-CI, S-waiting-on-review

#4378 [0.2] Backports
  .github/workflows/ci.yaml
  ci/docker/loongarch64-unknown-linux-musl/Dockerfile
  ci/install-musl-cross.sh
  ci/install-musl.sh
  libc-test/Cargo.toml
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/cygwin.txt
  libc-test/semver/hermit.txt
  libc-test/semver/illumos.txt
  libc-test/semver/linux-aarch64.txt
  libc-test/semver/linux-loongarch64.txt
  libc-test/semver/linux-x86_64.txt
  libc-test/semver/linux.txt
  libc-test/semver/netbsd.txt
  libc-test/test/makedev.rs
  src/hermit.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/cygwin/mod.rs
  src/unix/linux_like/android/b64/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b32/arm/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/riscv32/mod.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  src/unix/nuttx/mod.rs
  src/unix/solarish/compat.rs
  src/unix/solarish/illumos.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/solaris.rs
  src/vxworks/mod.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-android, O-solarish, O-illumos, O-riscv, O-linux-like, O-x86

#4376 [0.2] Add an empty `ctest` crate
  Cargo.toml
  ctest/Cargo.toml
  ctest/src/lib.rs
Labels: S-waiting-on-review, ctest

#4380 Remove the unused renovate.json
  ctest/renovate.json
Labels: S-waiting-on-review, ctest

#4385 Pin cc to `<1.2.18`
  libc-test/Cargo.toml
Labels: S-waiting-on-review, stable-nominated

#4382 Define more ioctl codes on riscv32gc-unknown-linux-gnu
  src/unix/linux_like/linux/arch/generic/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4381 FreeBSD: Deprecate TCP_PCAP_OUT and TCP_PCAP_IN
  libc-test/build.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4345 Add new cfg gnu_file_offset_bits64 corresponding to _FILE_OFFSET_BITS=64
  .github/workflows/ci.yaml
  build.rs
  ci/run-docker.sh
  ci/verify-build.sh
  libc-test/build.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-mips, O-sparc, O-linux-like, O-gnu, O-x86, stable-nominated

#4384 musl: loongarch64: Fix the struct ipc_perm bindings
  src/unix/linux_like/linux/musl/b64/loongarch64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl

#4327 Add missing `filedesc` and `fdescenttbl` in FreeBSD
  src/unix/bsd/freebsdlike/freebsd/freebsd11/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd12/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd13/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd14/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd15/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4379 if_tun.h ioctls for android
  libc-test/semver/android.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, O-linux-like, stable-nominated

#4387 cygwin: posix_spawn_file_actions_add[f]chdir[_np]
  libc-test/semver/cygwin.txt
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4169 Add support for alternative QNX Neutrino network stack `io-sock`
  build.rs
  libc-test/build.rs
  src/unix/mod.rs
  src/unix/nto/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4388 Add more redox sys/socket.h and sys/uio.h definitions
  src/unix/redox/mod.rs
Labels: S-waiting-on-review, O-unix, O-redox, stable-nominated

#4386 adding linux glibc ptrace_sud_config and related PTRACE_*ET_SYSCALL_U…
  libc-test/build.rs
  libc-test/semver/linux-gnu.txt
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/solarish/solaris.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-solarish, O-gnu, stable-nominated

#4332 Add missing utmpx apis for linux musl
  libc-test/semver/linux-musl.txt
  src/unix/linux_like/linux/musl/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4393 [0.2] Backports
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  build.rs
  ci/run-docker.sh
  ci/verify-build.sh
  libc-test/build.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  triagebot.toml
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-mips, O-sparc, O-linux-like, O-gnu, O-x86

#4397 Release ctest 0.4.11
  .github/workflows/release.yaml
  .release-plz.toml
  ctest/CHANGELOG.md
  ctest/Cargo.toml
Labels: A-CI, S-waiting-on-review, stable-unneeded, ctest

#4395 Make triagebot warn on non-default branches
  .github/PULL_REQUEST_TEMPLATE.md
  triagebot.toml
Labels: A-CI, stable-nominated

#4392 [0.2] if_tun.h ioctls for android
  libc-test/semver/android.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, O-linux-like

#4396 [0.2] Backports
  build.rs
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/cygwin.txt
  libc-test/semver/linux-gnu.txt
  libc-test/semver/linux-musl.txt
  src/unix/bsd/freebsdlike/freebsd/freebsd11/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd12/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd13/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd14/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd15/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/cygwin/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/mod.rs
  src/unix/nto/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/solaris.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-android, O-mips, O-sparc, O-solarish, O-redox, O-linux-like, O-gnu, O-x86

#4399 [0.2] Backports
  .github/PULL_REQUEST_TEMPLATE.md
  triagebot.toml
Labels: A-CI, S-waiting-on-review

#4398 Ensure all source files are included in the ctest package
  ctest/Cargo.toml
Labels: S-waiting-on-review, stable-unneeded, ctest

#4408 chore: cleanup Cargo.toml and rm perl
  .github/workflows/ci.yaml
  Cargo.toml
  ctest-test/Cargo.toml
  ctest/Cargo.toml
  libc-test/Cargo.toml
Labels: A-CI, S-waiting-on-review, stable-nominated, ctest

#4405 chore: minor cleanup `mode_t` usage
  src/fuchsia/mod.rs
  src/unix/aix/mod.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/mod.rs
  src/unix/bsd/netbsdlike/mod.rs
  src/unix/haiku/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  src/unix/newlib/mod.rs
  src/unix/nto/mod.rs
  src/unix/redox/mod.rs
  src/unix/solarish/mod.rs
  src/vxworks/mod.rs
  src/wasi/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-bsd, O-macos, O-arm, O-musl, O-android, O-mips, O-sparc, O-dragonfly, O-solarish, O-redox, O-riscv, O-linux-like, O-wasi, O-newlib, O-gnu, O-x86, stable-nominated

#4409 Resolve release-plz failure from `publish` mismatch
  .release-plz.toml
Labels: stable-unneeded

#4410 chore: release libc 0.2.172
  CHANGELOG.md
  Cargo.toml
Labels: S-waiting-on-review

#4411 chore: add clippy CI tests
  .github/workflows/ci.yaml
  Cargo.toml
  ctest-test/Cargo.toml
  ctest/Cargo.toml
  libc-test/Cargo.toml
Labels: A-CI, S-waiting-on-author, stable-nominated, ctest

#4416 chore: inline format args
  build.rs
  ci/ios/deploy_and_run_on_ios_simulator.rs
  ci/runtest-android.rs
  ctest-test/build.rs
  ctest-test/tests/all.rs
  ctest/src/lib.rs
  ctest/src/template.rs
  libc-test/build.rs
Labels: S-waiting-on-review, stable-nominated, ctest

#4407 Add some missing defines for VxWorks
  src/vxworks/mod.rs
Labels: S-waiting-on-review, stable-nominated

#4414 chore: lint `ctest` crate
  ctest/Cargo.toml
  ctest/src/lib.rs
Labels: S-waiting-on-review, stable-nominated, ctest

#4420 Introduce a new `c_enum` macro
  src/macros.rs
Labels: S-waiting-on-review, stable-nominated

#4403 adding pid_type enum for Linux.
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix

#4423 linux updating the remain e! macro to c_enum!
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-declined

#4429 Fix an `unnecessary_transmutes` from a recent nightly
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-gnu

#4319 linux: add constant PACKET_IGNORE_OUTGOING
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-author, O-linux, O-unix, stable-nominated

#4412 chore: lint `libc-test/build.rs`
  libc-test/Cargo.toml
  libc-test/build.rs
  libc-test/test/makedev.rs
Labels: S-waiting-on-author, stable-nominated, ctest

#4248 Fix querying emcc on windows
  build.rs
Labels: A-CI, S-waiting-on-author, stable-nominated

#4402 Update pidfd constants and types (Linux 6.9-6.15)
  libc-test/build.rs
  libc-test/semver/linux-musl.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-mips, O-gnu, O-x86, stable-nominated

#4415 chore: apply some clippy lints
  Cargo.toml
  build.rs
  src/fuchsia/mod.rs
  src/unix/aix/mod.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/mod.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/haiku/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/gnu/b64/mod.rs
  src/unix/linux_like/linux/gnu/b64/riscv64/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/nto/mod.rs
  src/unix/solarish/compat.rs
  src/unix/solarish/mod.rs
  src/vxworks/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-bsd, O-macos, O-android, O-dragonfly, O-solarish, O-riscv, O-linux-like, O-gnu, stable-nominated, ctest

#4426 Update Redox SA_ constants.
  src/unix/redox/mod.rs
Labels: S-waiting-on-author, O-unix, O-redox, stable-nominated

#4431 Set issue-links and no-mentions for triagebot
  triagebot.toml
Labels: S-waiting-on-review, stable-nominated

#4432 Remove triagebot assignment
  triagebot.toml
Labels: stable-nominated

#4427 Add more windows time.h functions
  libc-test/semver/windows.txt
  src/windows/mod.rs
Labels: S-waiting-on-review, O-windows, stable-nominated
