Repository rust-lang/libc, pull requests merged in 2025-03, with the labels that each got.

#4247 adding if_nameindex/if_freenameindex support for Android.
  libc-test/build.rs
  libc-test/semver/android.txt
  src/unix/linux_like/android/mod.rs
Labels: S-waiting-on-review, O-unix, O-android, stable-nominated

#4290 closefrom: add NetBSD, OpenBSD, DragonflyBSD
  libc-test/semver/dragonfly.txt
  libc-test/semver/netbsd.txt
  libc-test/semver/openbsd.txt
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
  src/unix/bsd/netbsdlike/mod.rs
Labels: S-waiting-on-review, O-unix, O-dragonfly, stable-nominated

#4286 Add SysV semaphore constants
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4292 Correct values for SI_TIMER, SI_MESGQ, SI_ASYNCIO on Linux MIPS
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-unix, O-linux-like, stable-nominated

#4294 Relocate <spawn.h> functions to define them to dragonfly.
  libc-test/semver/dragonfly.txt
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/freebsdlike/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4244 feat: Wasm Linux support `wasm32-wali`
  libc-test/build.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/musl/b64/wasm32/mod.rs
  src/unix/linux_like/linux/musl/b64/wasm32/wali.rs
  src/unix/linux_like/linux/musl/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl

#3917 Add SO_PREFER_BUSY_POLL and SO_BUSY_POLL_BUDGET
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/arch/sparc/mod.rs
Labels: S-waiting-on-author, O-linux, O-unix, O-musl, O-mips, O-sparc, stable-nominated

#4298 hermit: make `stat::st_size` signed
  src/hermit.rs
Labels: S-waiting-on-review, stable-nominated

#4306 Pass `--no-self-update` to `rustup update`
  .github/workflows/ci.yaml
  ci/install-rust.sh
  ci/style.sh
Labels: stable-nominated

#4301 Make msqid_ds.__msg_cbytes public.
  src/fuchsia/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/csky/mod.rs
  src/unix/linux_like/linux/gnu/b32/m68k/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/riscv32/mod.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/mod.rs
  src/unix/linux_like/linux/musl/b32/arm/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/linux_like/linux/musl/b32/mips/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/riscv32/mod.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips32/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips64/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-mips, O-sparc, O-riscv, O-gnu, O-x86, stable-nominated

#4279 Add cygwin support
  build.rs
  libc-test/build.rs
  libc-test/semver/cygwin.txt
  libc-test/src/makedev.c
  libc-test/test/makedev.rs
  src/unix/cygwin/mod.rs
  src/unix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4304 xous: include prelude to define c_int
  src/xous.rs
Labels: S-waiting-on-review, stable-nominated

#4308 Fix build & link on cygwin
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4311 Change the range syntax that is giving `ctest` problems
  Cargo.toml
  ci/verify-build.sh
  libc-test/test/linux_kernel_version.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-unix, O-linux-like, stable-nominated

#4309 Cygwin: Add PTY and group API
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4312 Remove the `check_cfg` job
  .github/workflows/ci.yaml
  build.rs
Labels: A-CI, S-waiting-on-review, stable-nominated

#4315 [0.2] Backports
  .github/workflows/ci.yaml
  build.rs
  ci/install-rust.sh
  ci/style.sh
  libc-test/build.rs
  libc-test/semver/cygwin.txt
  libc-test/semver/dragonfly.txt
  libc-test/semver/linux.txt
  libc-test/src/makedev.c
  libc-test/test/makedev.rs
  src/fuchsia/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/freebsdlike/mod.rs
  src/unix/cygwin/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/arch/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/arm/mod.rs
  src/unix/linux_like/linux/gnu/b32/csky/mod.rs
  src/unix/linux_like/linux/gnu/b32/m68k/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/riscv32/mod.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/mod.rs
  src/unix/linux_like/linux/musl/b32/arm/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/linux_like/linux/musl/b32/mips/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/riscv32/mod.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/musl/b64/wasm32/mod.rs
  src/unix/linux_like/linux/musl/b64/wasm32/wali.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips32/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips64/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/mod.rs
  src/xous.rs
Labels: A-CI, S-waiting-on-review, O-linux, O-unix, O-bsd, O-macos, O-arm, O-musl, O-android, O-mips, O-sparc, O-dragonfly, O-solarish, O-riscv, O-linux-like, O-gnu, O-x86

#4317 ci: Fixes for sparc and s390x
  ci/docker/sparc64-unknown-linux-gnu/Dockerfile
  ci/linux-s390x.sh
  ci/linux-sparc64.sh
  ci/run.sh
  src/unix/linux_like/linux/gnu/b64/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-gnu, stable-nominated

#4316 linux_like: add F_SEAL_EXEC
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, stable-nominated

#4310 Add missing macos proc types and constants
  src/unix/bsd/apple/mod.rs
Labels: S-waiting-on-author, O-unix, O-macos, stable-nominated

#4318 [0.2] Backports
  ci/docker/sparc64-unknown-linux-gnu/Dockerfile
  ci/linux-s390x.sh
  ci/linux-sparc64.sh
  ci/run.sh
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/linux.txt
  src/unix/bsd/apple/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/arch/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b64/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-macos, O-android, O-mips, O-sparc, O-gnu

#4321 cygwin: add statfs & fcntl
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4288 linux: Add new netlink flags
  libc-test/semver/android.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-author, O-linux, O-unix, O-android, stable-nominated

#4325 linux: Export ioctl request generator macros
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4324 cygwin: fix member types of statfs
  src/unix/cygwin/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4330 seccomp: Add more constants from seccomp.h
  libc-test/semver/android.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, stable-nominated

#4320 ci: install musl from source for loongarch64
  ci/docker/loongarch64-unknown-linux-musl/Dockerfile
  ci/install-musl-cross.sh
  ci/install-musl.sh
Labels: S-waiting-on-review, stable-nominated

#4338 android: Add getauxval for 32-bit targets
  libc-test/semver/android.txt
  src/unix/linux_like/android/b64/mod.rs
  src/unix/linux_like/android/mod.rs
Labels: S-waiting-on-review, O-unix, O-android, stable-nominated

#4344 hermit: add/fix `AF_*` values
  libc-test/semver/hermit.txt
  src/hermit.rs
Labels: S-waiting-on-review, stable-nominated

#4346 musl: enable `getrandom` on all musl platforms
  src/unix/linux_like/linux/musl/b32/arm/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-arm, O-musl, O-x86, stable-nominated

#4347 feat: Add tcp_info to Linux uClibc bindings
  src/unix/linux_like/linux/uclibc/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, stable-nominated

#4342 adding secure_getenv for solaris/illumos.
  libc-test/build.rs
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated

#4335 Fix constants of RISC-V32 musl
  src/unix/linux_like/linux/musl/b32/riscv32/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-riscv, stable-nominated

#4348 temporarily define O_DIRECT and SIGINFO for Solaris
  libc-test/build.rs
  src/unix/solarish/solaris.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated
