Repository rust-lang/libc, pull requests merged in 2025-02, with the labels that each got.

#4254 Resolve various CI issues
  .cirrus.yml
  .github/workflows/ci.yaml
  src/macros.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd15/mod.rs
Labels: A-CI, S-waiting-on-review, O-unix, stable-nominated

#4240 hurd: Fix CMSG_DATA on 64bit systems
  src/unix/hurd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4237 Classify FIXMEs - 5.2
  libc-test/build.rs
  src/fuchsia/mod.rs
  src/lib.rs
  src/vxworks/mod.rs
Labels: S-waiting-on-review, O-windows, stable-nominated

#4251 Remove pthread_set_name_np from NuttX
  src/unix/nuttx/mod.rs
Labels: S-waiting-on-review, O-unix

#4225 Add in the sigtrap si_codes
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-author, O-linux, O-unix, O-android, O-linux-like, stable-nominated

#4243 emscripten: Assume version is at least 3.1.42
  build.rs
  ci/emscripten.sh
  src/unix/linux_like/emscripten/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4236 Classify FIXMEs - 8
  libc-test/build.rs
Labels: A-CI, S-waiting-on-review, O-windows, O-linux, O-unix, O-macos, O-arm, O-musl, O-android, O-mips, O-sparc, O-dragonfly, O-solarish, O-redox, O-riscv, O-linux-like, O-wasi, O-newlib, O-gnu, O-x86, stable-nominated

#4260 Bump FreeBSD CI to 13.4 and 14.2
  .cirrus.yml
Labels: A-CI, S-waiting-on-review, stable-nominated

#4263 Fix reference to build file with guaranteed build platforms.
  README.md
Labels: S-waiting-on-review, stable-nominated

#4259 [solarish/illumos] add the posix_spawn family of functions
  libc-test/build.rs
  libc-test/semver/illumos.txt
  libc-test/semver/solarish.txt
  src/unix/solarish/illumos.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/solaris.rs
Labels: S-waiting-on-review, O-unix, O-solarish, O-illumos, stable-nominated

#4266 [0.2] Backports
  .cirrus.yml
  .github/workflows/ci.yaml
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/linux-musl.txt
  src/macros.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd15/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/b32/x86/mod.rs
  src/unix/linux_like/android/b64/mod.rs
  src/unix/linux_like/android/b64/x86_64/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/gnu/b32/m68k/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/aarch64/mod.rs
  src/unix/linux_like/linux/gnu/b64/mips64/mod.rs
  src/unix/linux_like/linux/gnu/b64/powerpc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/gnu/b64/sparc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/mod.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/not_x32.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/linux_like/linux/musl/b32/mips/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mips64.rs
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
  src/unix/linux_like/linux/musl/b64/x86_64/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips32/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  src/unix/redox/mod.rs
  src/windows/mod.rs
  triagebot.toml
Labels: A-CI, S-waiting-on-review, O-windows, O-linux, O-unix, O-arm, O-musl, O-android, O-mips, O-sparc, O-redox, O-linux-like, O-gnu, O-x86

#4258 fix: Revert vita's c_char back to i8
  src/primitives.rs
Labels: S-waiting-on-review, stable-nominated

#4265 NetBSD: fix getmntinfo for NetBSD
  src/unix/bsd/netbsdlike/netbsd/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#3756 FreeBSD: add evdev structures
  libc-test/build.rs
  libc-test/semver/freebsd.txt
  src/unix/bsd/freebsdlike/freebsd/mod.rs
Labels: S-waiting-on-author, O-unix, stable-nominated

#4270 [0.2] Backports
  README.md
  build.rs
  ci/emscripten.sh
  libc-test/build.rs
  libc-test/semver/illumos.txt
  libc-test/semver/linux.txt
  libc-test/semver/solarish.txt
  src/fuchsia/mod.rs
  src/lib.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/solarish/illumos.rs
  src/unix/solarish/mod.rs
  src/unix/solarish/solaris.rs
  src/vxworks/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, O-solarish, O-illumos, O-linux-like

#4268 Fix size of time_t in vxworks
  src/vxworks/mod.rs
Labels: S-waiting-on-review, stable-nominated

#4271 [0.2] Re-add the test for `primitive_types`
  libc-test/Cargo.toml
Labels: S-waiting-on-review

#4273 Add recent socket timestamping flags for Linux and Android
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, stable-nominated

#4280 [0.2] `RUST_LIBC_UNSTABLE_LINUX_TIME_BITS64` backports
  build.rs
  ci/verify-build.sh
  libc-test/semver/TODO-linux.txt
  libc-test/semver/linux-loongarch64.txt
  libc-test/semver/linux-powerpc64.txt
  libc-test/semver/linux-powerpc64le.txt
  libc-test/semver/linux-riscv64gc.txt
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/arch/generic/mod.rs
  src/unix/linux_like/linux/arch/mips/mod.rs
  src/unix/linux_like/linux/arch/powerpc/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-mips

#4282 Switch back to matching `target_os` rather than `target_vendor`
  src/primitives.rs
Labels: S-waiting-on-review, stable-nominated

#4267 linux: deprecate obsolete packet filter interfaces.
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-android, O-gnu, stable-nominated

#4284 [0.2] Backports
  libc-test/build.rs
  libc-test/semver/android.txt
  libc-test/semver/freebsd.txt
  libc-test/semver/linux.txt
  src/primitives.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/vxworks/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-bsd, O-android

#4234 Classify FIXMEs - 6
  libc-test/build.rs
Labels: S-waiting-on-review, O-windows, O-linux, O-unix, O-arm, O-musl, O-linux-like, O-gnu, O-x86, stable-nominated

#4276 Split out the stat struct for gnu/b32/mips
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-mips, O-gnu, stable-nominated

#4232 Classify FIXMEs - 4
  src/fuchsia/x86_64.rs
  src/unix/bsd/apple/b32/mod.rs
  src/unix/bsd/apple/b64/aarch64/mod.rs
  src/unix/bsd/apple/b64/mod.rs
  src/unix/bsd/apple/b64/x86_64/mod.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
  src/unix/bsd/freebsdlike/freebsd/mod.rs
  src/unix/bsd/freebsdlike/freebsd/x86_64/mod.rs
  src/unix/bsd/freebsdlike/mod.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
Labels: S-waiting-on-review, O-windows, O-linux, O-unix, O-macos, O-arm, O-musl, O-dragonfly, O-linux-like, O-gnu, O-x86, stable-nominated

#4208 Make `makedev`, `major`, `minor` const
  libc-test/src/makedev.c
  libc-test/test/makedev.rs
  src/fuchsia/mod.rs
  src/unix/aix/mod.rs
  src/unix/bsd/apple/mod.rs
  src/unix/bsd/freebsdlike/dragonfly/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd11/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd12/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd13/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd14/mod.rs
  src/unix/bsd/freebsdlike/freebsd/freebsd15/mod.rs
  src/unix/bsd/netbsdlike/netbsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/nto/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-macos, O-android, O-dragonfly, stable-nominated

#4231 Classify FIXMEs - 3
  src/unix/bsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/mod.rs
  src/unix/bsd/netbsdlike/openbsd/x86_64.rs
  src/unix/haiku/mod.rs
  src/unix/haiku/x86_64.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/nto/mod.rs
  src/unix/solarish/mod.rs
Labels: A-CI, S-waiting-on-review, O-windows, O-linux, O-unix, O-bsd, O-macos, O-arm, O-musl, O-android, O-mips, O-sparc, O-dragonfly, O-solarish, O-illumos, O-redox, O-riscv, O-linux-like, O-wasi, O-newlib, O-gnu, O-x86, stable-nominated

#4250 [AIX] Use sa_sigaction instead of the union
  src/unix/aix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4285 openbsd: add devname(3)
  libc-test/semver/apple.txt
  libc-test/semver/dragonfly.txt
  libc-test/semver/freebsd.txt
  libc-test/semver/netbsd.txt
  libc-test/semver/openbsd.txt
  src/unix/bsd/mod.rs
Labels: S-waiting-on-review, O-unix, O-bsd, stable-nominated

#4287 solarish: define `IP_BOUND_IF` and `IPV6_BOUND_IF`
  libc-test/semver/solarish.txt
  src/unix/solarish/mod.rs
Labels: S-waiting-on-review, O-unix, O-solarish, stable-nominated
