Repository rust-lang/libc, pull requests merged in 2025-07, with the labels that each got.

#4501 ctest: Add translation of Rust types.
  ctest-next/Cargo.toml
  ctest-next/askama.toml
  ctest-next/build.rs
  ctest-next/src/ast/constant.rs
  ctest-next/src/ffi_items.rs
  ctest-next/src/generator.rs
  ctest-next/src/lib.rs
  ctest-next/src/macro_expansion.rs
  ctest-next/src/runner.rs
  ctest-next/src/template.rs
  ctest-next/src/tests.rs
  ctest-next/src/translator.rs
  ctest-next/templates/test.c
  ctest-next/templates/test.rs
  ctest-next/tests/basic.rs
  ctest-next/tests/input/hierarchy.h
  ctest-next/tests/input/hierarchy.out.c
  ctest-next/tests/input/hierarchy.out.rs
  ctest-next/tests/input/hierarchy/lib.rs
  ctest-next/tests/input/macro.h
  ctest-next/tests/input/macro.out.c
  ctest-next/tests/input/macro.out.rs
  ctest-next/tests/input/simple.h
  ctest-next/tests/input/simple.out.c
  ctest-next/tests/input/simple.out.rs
  ctest-next/tests/input/simple.rs
Labels: S-waiting-on-review, ctest

#4512 semver: Fix powerpc64(le) musl checks
  libc-test/semver/linux-gnu-powerpc64.txt
  libc-test/semver/linux-powerpc64.txt
  libc-test/semver/linux-powerpc64le.txt
Labels: S-waiting-on-review, stable-nominated

#4503 FreeBSD amd64: add mc_tlsbase member to mcontext_t
  src/unix/bsd/freebsdlike/freebsd/x86_64/mod.rs
Labels: S-waiting-on-review, O-unix, O-x86, stable-nominated

#4516 musl: powerpc64: Fix definition of MAP_LOCKED and MAP_NORESERVE
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4517 musl: powerpc64: Fix definition of EDEADLK
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4519 musl: powerpc64: Decommonize definition of shmid_ds
  src/unix/linux_like/linux/musl/b64/mod.rs
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4523 triagebot: Add autolabels for PowerPC
  triagebot.toml
Labels: S-waiting-on-review, stable-nominated

#4515 s390x-linux-musl: remove bogus constants
  src/unix/linux_like/linux/musl/b64/s390x.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl

#4521 ci/docs: Build and check powerpc64le-unknown-linux-musl
  .github/workflows/ci.yaml
  Cargo.toml
  ci/docker/powerpc64le-unknown-linux-musl/Dockerfile
  ci/install-musl.sh
  ci/verify-build.sh
Labels: A-CI, S-waiting-on-review

#4525 Cast to `c_char` rather than `i8`
  ctest-next/templates/test.rs
  ctest-next/tests/input/simple.out.rs
Labels: S-waiting-on-review, stable-unneeded, ctest

#4480 Add SECBIT_ constants from securebits.h
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: O-linux, O-unix, stable-nominated

#4537 ci: Update RUSTFLAGS to attempt to resolve cache issues
  .github/workflows/ci.yaml
Labels: A-CI, S-waiting-on-review

#4538 ci: Only build `core` with `-Zbuild-std`
  ci/run.sh
  ci/verify-build.sh
Labels: stable-nominated

#4446 Begin source reorganization with `linux/can.h`
  libc-test/test/check_style.rs
  src/lib.rs
  src/new/linux_uapi/linux/can.rs
  src/new/linux_uapi/linux/can/j1939.rs
  src/new/linux_uapi/linux/can/raw.rs
  src/new/linux_uapi/linux/mod.rs
  src/new/linux_uapi/mod.rs
  src/new/mod.rs
  src/unix/linux_like/linux/mod.rs
  triagebot.toml
Labels: S-waiting-on-review, O-linux, O-unix, O-x86, stable-nominated

#4550 build: Fix incorrect `target_os` -> `target_arch` check
  build.rs
Labels: S-waiting-on-review, stable-nominated

#4551 ctest: extract bindings from template into source
  ctest-next/src/generator.rs
  ctest-next/src/template.rs
  ctest-next/templates/test.c
  ctest-next/templates/test.rs
  ctest-next/tests/input/hierarchy.out.c
  ctest-next/tests/input/hierarchy.out.rs
  ctest-next/tests/input/macro.out.c
  ctest-next/tests/input/simple.out.with-renames.c
  ctest-next/tests/input/simple.out.with-renames.rs
  ctest-next/tests/input/simple.out.with-skips.c
  ctest-next/tests/input/simple.out.with-skips.rs
Labels: S-waiting-on-review, ctest

#4563 Add 'const' to some signatures for AIX
  libc-test/build.rs
  src/unix/aix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4564 ci: Remove handling for the `QEMU` environment variable
  ci/run.sh
Labels: S-waiting-on-review, stable-nominated

#4565 ci: Upgrade wasm dependencies to the latest version
  ci/wasi.sh
Labels: S-waiting-on-review, stable-nominated

#4545 linux: Add EXEC_RESTRICT_FILE and EXEC_DENY_INTERACTIVE securebits
  libc-test/build.rs
  libc-test/semver/linux.txt
  src/unix/linux_like/linux/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix

#4572 ci: Upgrade to the macos-15 runner image
  .github/workflows/ci.yaml
Labels: A-CI, S-waiting-on-review, stable-nominated

#4576 Fix the type of the 'f_fsid' field in 'struct statvfs' for AIX
  libc-test/build.rs
  src/unix/aix/powerpc64.rs
Labels: S-waiting-on-review, O-unix, stable-nominated, O-powerpc

#4558 ctest: test ctest-next in ctest-test
  .github/workflows/ci.yaml
  Cargo.lock
  ctest-next/src/ast/function.rs
  ctest-next/src/ast/static_variable.rs
  ctest-next/src/ffi_items.rs
  ctest-next/templates/test.rs
  ctest-next/tests/input/hierarchy.out.rs
  ctest-next/tests/input/macro.out.rs
  ctest-next/tests/input/simple.out.with-renames.rs
  ctest-next/tests/input/simple.out.with-skips.rs
  ctest-test/Cargo.toml
  ctest-test/build.rs
  ctest-test/src/bin/t1.rs
  ctest-test/src/bin/t1_cxx.rs
  ctest-test/src/bin/t1_next.rs
  ctest-test/src/bin/t2_next.rs
  ctest-test/src/t1.rs
  ctest-test/src/t2.h
  ctest-test/src/t2.rs
  ctest-test/tests/all.rs
Labels: A-CI, S-waiting-on-review, ctest

#4582 Fix the types of constants used for the 'request' argument of ioctl() on AIX
  libc-test/build.rs
  src/unix/aix/mod.rs
Labels: S-waiting-on-review, O-unix

#4586 haiku adding accept4 posix call
  src/unix/haiku/mod.rs
Labels: S-waiting-on-review, O-unix

#4578 Restore 'struct ld_info' and related types for AIX
  libc-test/build.rs
  libc-test/semver/aix.txt
  src/unix/aix/powerpc64.rs
Labels: S-waiting-on-review, O-unix, stable-nominated, O-powerpc

#4588 Remove duplicate constant definitions for AIX
  src/unix/aix/mod.rs
Labels: S-waiting-on-review, O-unix, stable-nominated

#4597 AIX: Fix the types of 'struct stat'/'struct stat64' fields 'st_*tim'
  libc-test/build.rs
  src/unix/aix/mod.rs
  src/unix/aix/powerpc64.rs
Labels: S-waiting-on-review, O-unix, stable-nominated, O-powerpc
