Repository rust-lang/libc, pull requests merged in 2025-01, with the labels that each got.

#4227 Add a triagebot ping for changes to Android
  triagebot.toml
Labels: S-waiting-on-review, stable-nominated

#4212 Declare `setdomainname` and `getdomainname` on Android.
  libc-test/build.rs
  libc-test/semver/android.txt
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-android, O-linux-like, stable-nominated

#4229 Classify FIXMEs
  src/unix/linux_like/linux/gnu/b64/aarch64/mod.rs
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/mod.rs
  src/unix/linux_like/linux/gnu/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/musl/b32/hexagon.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
  src/unix/linux_like/linux/musl/b64/x86_64/mod.rs
  src/unix/linux_like/linux/musl/mod.rs
  src/unix/linux_like/linux/uclibc/arm/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/mod.rs
  src/windows/mod.rs
Labels: S-waiting-on-review, O-windows, O-linux, O-unix, O-arm, O-musl, O-gnu, O-x86, stable-nominated

#4230 Classify FIXMEs in repo - 2
  src/unix/hurd/mod.rs
  src/unix/linux_like/android/b32/x86/mod.rs
  src/unix/linux_like/android/b64/mod.rs
  src/unix/linux_like/android/b64/x86_64/mod.rs
  src/unix/linux_like/android/mod.rs
  src/unix/linux_like/emscripten/mod.rs
  src/unix/linux_like/mod.rs
  src/unix/mod.rs
  src/unix/redox/mod.rs
Labels: S-waiting-on-review, O-windows, O-linux, O-unix, O-arm, O-musl, O-android, O-redox, O-linux-like, O-gnu, O-x86

#4228 linux/android: deprecate obsolete kernel module syscalls
  src/unix/linux_like/android/b32/x86/mod.rs
  src/unix/linux_like/android/b64/x86_64/mod.rs
  src/unix/linux_like/linux/gnu/b32/m68k/mod.rs
  src/unix/linux_like/linux/gnu/b32/mips/mod.rs
  src/unix/linux_like/linux/gnu/b32/powerpc.rs
  src/unix/linux_like/linux/gnu/b32/sparc/mod.rs
  src/unix/linux_like/linux/gnu/b32/x86/mod.rs
  src/unix/linux_like/linux/gnu/b64/mips64/mod.rs
  src/unix/linux_like/linux/gnu/b64/powerpc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/s390x.rs
  src/unix/linux_like/linux/gnu/b64/sparc64/mod.rs
  src/unix/linux_like/linux/gnu/b64/x86_64/not_x32.rs
  src/unix/linux_like/linux/musl/b32/mips/mod.rs
  src/unix/linux_like/linux/musl/b32/powerpc.rs
  src/unix/linux_like/linux/musl/b32/x86/mod.rs
  src/unix/linux_like/linux/musl/b64/mips64.rs
  src/unix/linux_like/linux/musl/b64/powerpc64.rs
  src/unix/linux_like/linux/musl/b64/s390x.rs
  src/unix/linux_like/linux/musl/b64/x86_64/mod.rs
  src/unix/linux_like/linux/uclibc/mips/mips32/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, O-android, O-mips, O-sparc, O-gnu, O-x86, stable-nominated

#4226 add CLONE_NEWTIME to Linux/musl
  libc-test/semver/linux-musl.txt
  src/unix/linux_like/linux/musl/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-musl, stable-nominated

#4235 Classify FIXMEs - 7
  libc-test/build.rs
Labels: S-waiting-on-review, O-windows, stable-nominated

#4220 Rewrite `style.rs` using `syn`
  .gitignore
  ci/run.sh
  ci/runtest-android.rs
  ci/style.rs
  ci/style.sh
  libc-test/Cargo.toml
  libc-test/test/check_style.rs
  libc-test/test/style/mod.rs
  libc-test/test/style_tests.rs
  src/teeos/mod.rs
  src/unix/linux_like/linux/mod.rs
  src/unix/linux_like/linux/uclibc/x86_64/l4re.rs
  src/wasi/mod.rs
Labels: S-waiting-on-review, O-linux, O-unix, O-wasi, O-x86, stable-nominated
